fastapi
uvicorn[standard]
sqlmodel
psycopg2-binary
python-dotenv
python-multipart
python-jose[cryptography]
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
pydantic[email]
email-validator
slowapi
ics
pillow
celery
redis
